.gateway {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: none;
  padding: 10px;
  border-radius: 10px;
  max-width: 800px;
  background-color: #f0f0f0;
  width: 500px;
  user-select: none;
}

.selected-cmp h3 {
  color: black;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  border: 1px solid #aaaaaa;
  padding: 10px;
  padding-left: 10%;
}

.gateway h1 {
  border-bottom: 2px solid black;
  text-align: center;
  color: #45a247;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 5px;
}

.gateway-header {
  border-bottom: 1px solid #aaaaaa;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gateway-header label {
  color: black;
  font-size: 25px;
  font-family: 'Poiret One', cursive;
}

.gateway .item {
  color: black;
  width: 100%;
  border: 1px solid #aaaaaa;
  font-size: 13px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  user-select: none;
}

.gateway .item:hover  {
  box-shadow: 1px 1px 2px #888888;
}
