p {
	font-family: sans-serif;
	color: black;
	font-size: 12px;
	text-align: center;
}

#main-container {
	justify-content: center;
	text-align: center;
	position: relative;
	margin: 0px;
	padding: 0px;
}

#or {
	font-size: 15px;
	color: #dfe6e9;
}

#or::after {
	content: '\2212';
	padding-left: 10px;
	margin-left: 10px;
}

#or::before {
	content: '\2212';
	padding-right: 10px;
	margin-right: 10px;
}